{
  "singleQuote": true,
  "importOrder": [
    "^config/(.*)$",
    "^routes/(.*)$",
    "^constants/(.*)$",
    "^services/(.*)$",
    "^types/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true
}
